/node_modules
node_modules/
/frontend/node_modules/
.env
backend/.env
frontend/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
build/
dist/
frontend/build/

# Coverage
coverage/

# Caches
.cache/
.parcel-cache/

# IDE/editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Misc
*.log
*.tgz